<div style="background: url(<%= asset_path @event.banner600x2000.url %>);height:600px;width:100%;">
	<div class="container">
		<div class="event-page-header-hold">
			<div class="event-page-header">
				<h1><i><%= @event.header if @event.header %></i></h1>
				<h3><i><%= @event.sub_header if @event.sub_header %></i></h3>
			</div>
			<div class="buy-box">
				<div class="price center">
					<% if user_signed_in? %>
						<h3><span class="glyphicon glyphicon-chevron-down"></span></span></h3><br>
						<%if @event_users.find(current_user).user_id? %>
							<p style="font-size:20px;">You're Going!</p>
						<% else %>
						  <h3><span class="glyphicon glyphicon-chevron-right"></span> $<%= @event.price if @event.price %> </span></h3><br>
							<p style="font-size:20px;">Current Price</p>
						<% end %>
					<% else %>
						<h3><span class="glyphicon glyphicon-chevron-right"></span> $<%= @event.price if @event.price %> </span></h3><br>
						<p style="font-size:20px;">Current Price</p>
					<% end %>

					<% if user_signed_in? %>
						<%if @event_users.find(current_user).user_id? %>
							<a class="event-login-button center" href="#"><h2>INVITE FRIENDS</h2></a>
						<% else %>
							<a class="event-login-button center" href="<%= event_checkout_url(@event) %>"><h2>SIGN UP</h2></a>
						<% end %>
						<p></p>
						  
					<% else %>

						<a class="event-login-button center" href="/users/auth/facebook"><h2>LOG IN TO BUY</h2></a>
						<p>WE WILL NEVER POST WITHOUT YOUR PERMISSION</p>
	        		<% end %>
				</div>
				<div class="ticketing-close">
					<p>TICKETING WILL CLOSE 3 HOURS BEFORE THE EVENT.  TICKETS CAN BE BOUGHT AT THE DOOR FOR $<%= @event.price if @event.price %> IF AVAILABLE</p>
				</div>
			</div>
		</div>


	</div>
</div>

	<div class="container" style="background: #efefef;margin-top:-140px; margin-bottom:30px;">

			<div style="width:47%;float:left;margin-left:3%;padding-top:15px;padding-right:30px; border-bottom:1px solid black;height:140px;">
				<p><%= @event.description if @event.description %></p>
			</div>
			<div style="width:47%;float:left; margin-right:3%; padding-top:10px; border-bottom:1px solid black;height:140px;">
				<div style="#">
					<div style="width:50%;float:left;border-bottom:1px solid black; border-right:1px solid black;height:50px;">
						<p><span style="padding: 0 10px 20px 0;" class="glyphicon glyphicon-calendar"></span><%= @event.date.strftime("%A, %B #{@event.date.day.ordinalize}") if @event.date %></p>
					</div>
					<div style="width:50%;float:left;border-bottom:1px solid black;border-left:1px solid black;height:50px;">
						<p style="padding: 20px 0 0 10px;"><%= @event.start_time.strftime("%I:%M %P") if @event.start_time %> to <%= @event.end_time.strftime("%I:%M %P") if @event.end_time %></p>
					</div>
				</div>

				<div style="width:100%;height:100%;float:left;" class="center">
					<h2 style="margin-top:12px;font-size:25px;"><%= @event.venue if @event.venue %></h2>
					<p><%= @event.address if @event.address %></p>
				</div>
			</div>

			<div style="float:left;">
				<h2 style="margin:20px 0 0 0;">The Guests</h2>
				<% @event_users.each do |eu| %>
					<div class="panel panel-default" style="width:132px; margin:7px;float:left;">
						<img src="<%= @users.find(eu).image %>" alt="<%= @users.find(eu).name %>" width="130" height="130" />
						<div class="panel-body" style="margin:0;padding:0;">
							<p style="padding:3px 0 0 5px;margin:0;"><%= @users.find(eu).first_name.truncate(17) %><br>
								<%= @users.find(eu).last_name.truncate(17) %>
							</p>
						</div>
					</div>
				<% end %>
				
				
			</div>

	</div>










<!--<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>-->
